<!DOCTYPE html>
<html>

	<head>
		<title>Consulter une histoire</title>
		<link rel='stylesheet' type='text/css' href='/style.css' />
		<script src="/jquery-1.10.2.js"></script>
		<script type='text/javascript'>
			function newComment(commentId) {
				if(commentId == undefined) {
					$("#newRootCommentDiv").css('display','block');
				}
				else {
					$("#inputCommentDiv"+commentId).css('display','block');
				}
			}
			function addComment(commentId) {
				if(commentId == undefined) {
					var text = $("#inputCommentText").val();
				}
				else {
					var text = $("#inputCommentText"+commentId).val();
					$("#commentId").val(commentId);
				}
				$("#commentText").val(text);
				$("#commentForm").submit();
			}
		       	<%
				if(canBeValidated == true) {
			%>
				function switchTheme(theme) {
					if(theme.className == 'theme')
					{
						theme.className='theme selected';
					}
					else {
						theme.className='theme';
					}
				}
			var commentsStates = {};

			function switchColor(aColor,aNumber) {
					commentsStates[aNumber] = aColor;
				if(aColor == "red") {
					$("#red"+aNumber).css('background-color','red');	
					$("#green"+aNumber).css('background-color','white');	
					$("#blue"+aNumber).css('background-color','white');	
				//	$("#commentState"+aNumber).val("red");
				}
				if(aColor == "green") {
					$("#red"+aNumber).css('background-color','white');	
					$("#green"+aNumber).css('background-color','green');	
					$("#blue"+aNumber).css('background-color','white');	
					//$("#commentState"+aNumber).val("green");
				}
				if(aColor == "blue") {
					$("#red"+aNumber).css('background-color','white');	
					$("#green"+aNumber).css('background-color','white');	
					$("#blue"+aNumber).css('background-color','blue');	
					//$("#commentState"+aNumber).val("blue");
				}
			}
			function moderateComments() {
				$("#commentsStates").val(JSON.stringify(commentsStates));
				$("#commentsValidationForm").submit();
			}
			<%	}
			%>
		</script>
		</head>

		<body>
		<div class='story structureElement'>
			<div class='structureName'>Histoire</div>
			<% if(canBeValidated == true) {%>

			<form id='validationForm' method='POST' action='/stories/validate' enctype='application/x-www-form-urlencoded'>
				<input type='hidden' value='put' name='_method'/>
				<input type='hidden' id='storyId' name='storyId' value='<%=storyId%>'/>
				<input type='text' id='storyTitle' name='storyTitle' value='<%= title %>'/>
			</form>
			<% } else { %>
			<div class='storyTitle structureElement'>
				<div class='structureName'>Titre</div>
				<%= title %>
			</div>
			<% } %>
			<div class='storyFacts structureElement'>
				<div class='structureName'>Faits</div><%= facts %>
			</div>
			<div class='storyFeelings structureElement'><div class='structureName'>Ressenti</div><%= feelings %></div>
			<div class='storyProblem structureElement'><div class='structureName'>Probl&egrave;me</div><%= problem %></div>
			<div id='themes' class='structureElement'>
				<div class='structureName'>
					Th&egrave;mes abord&eacute;s
				</div>

				<%
				var onclick='';
				if(canBeValidated == true) {
				onclick ='onclick=switchTheme(this) style="cursor:pointer;"';
				}
				%>
				<div class='theme' <%=onclick%>>Probl&egrave;me avec mon sup&eacute;rieur</div>
				<div class='theme selected' <%=onclick%>>Probl&egrave;me avec un coll&egrave;gue</div>
				<div class='theme' <%=onclick%>>Probl&egrave;me avec un subalterne</div>
				<div class='theme' <%=onclick%>>R&eacute;mun&eacute;ration</div>
				<div class='theme' <%=onclick%>>Cong&eacute;s</div>
				<div class='theme' <%=onclick%>>Amour / Sexe</div>
				<div class='theme selected' <%=onclick%>>Management</div>
				<div class='theme selected' <%=onclick%>>Nouveau poste</div>
				<div class='theme' <%=onclick%>>Licenciement / reclassement</div>
				<div class='theme selected' <%=onclick%>>Ambiance</div>
			</div>
		</div>
		<% if(canBeValidated == true) {%>
		<input type='button' value='Valider' onclick='$("#validationForm").submit()'/>
		<% } %>
		<div class='specialistOpinionDiv structureElement'>
			<div class='structureName'>Opinions des sp&eacute;cialistes</div>
			<div class='specialistOpinionTitle'>L'avis du coach</div>
			<div class='specialistOpinion'>Risquer la confiance est indispensable. Votre sur-investissement est peut-&ecirc;tre symptomatique d'un manque.</div>
			<button>Ajouter un avis</button>
		</div>
		<div class='comments structureElement'>
			<div class='structureName'>Commentaires</div>
			<% 
			var stack = [];       

			var treeIterator = function(aStack,aComments) {
			for(var i = 0 ; i < aComments.length ; i++) {
			aStack.push(aComments[i]);
			treeIterator(aStack,aComments[i].comments);		
			}
			};
			treeIterator(stack,comments);
			stack.reverse();
			while(true) {
			var currentComment = stack.pop();
			if(currentComment == undefined) {
			break;	
			};
			%>
			<div class='comment' style='margin-left:<%=currentComment.level * 20 %>px'>
				<div class='commentMeta'><%= currentComment.author %></div>
				<%= currentComment.text %>
				<button onclick='newComment(<%= currentComment.id %>)'>&rarr;</button>
				<div id='inputCommentDiv<%= currentComment.id %>' style='display:none'>
					<textarea id='inputCommentText<%= currentComment.id %>'></textarea>
					<button onclick='addComment(<%= currentComment.id %>)'>&rarr;</button>
				</div>
				<div style='display:inline;float:right;'>
					<%
						var redBackground = '';
						var greenBackground = '';
						var blueBackground = '';
						var commentState = '';
						if(currentComment.state == 'refused') {
							redBackground='background-color:red;';	
							commentState = 'red';
						}
						if(currentComment.state == 'validated') {
							greenBackground='background-color:green;';	
							commentState = 'green';
						}
						if(currentComment.state == 'toBeValidated') {
							blueBackground='background-color:blue;';	
							commentState = 'blue';
						}
				       	%>
					<div id='red<%= currentComment.id %>' style='border:1px red solid;width:20px;display:inline-block;cursor:pointer;<%=redBackground%>' onclick='switchColor("red",<%= currentComment.id %>)'>&nbsp;</div>
					<div id='green<%= currentComment.id %>' style='border:1px green solid;width:20px;display:inline-block;cursor:pointer;<%=greenBackground%>' onclick='switchColor("green",<%= currentComment.id %>)'>&nbsp;</div>
					<div id='blue<%= currentComment.id %>' style='border:1px blue solid;width:20px;display:inline-block;cursor:pointer;<%=blueBackground%>' onclick='switchColor("blue",<%= currentComment.id %>)'>&nbsp;</div>
				</div>
			</div>
			<% 
			}
			%>
			<div>
				<div>Proposer un commentaire
					<button onclick='newComment(undefined)'>&rarr;</button>
				</div>
				<div id='newRootCommentDiv' style='display:none'>
					<textarea id='inputCommentText'></textarea>
					<button onclick='addComment()'>&rarr;</button>
				</div>
			</div>
			<div>
				<div>Mod&eacute;rer les commentaires
					<button onclick='moderateComments()'>&rarr;</button>
				</div>
			</div>
		</div>
		<form id='commentForm' method='POST' action='/stories/addComment' enctype='application/x-www-form-urlencoded'>
			<input type='hidden' value='put' name='_method'/>
			<input type='hidden' id='storyId' name='storyId' value='<%=storyId%>'/>
			<input type='hidden' id='commentId' name='commentId'/>
			<input type='hidden' id='commentText' name='commentText'/>
		</form>
		<form id='commentsValidationForm' method='POST' action='/stories/validateComments' enctype='application/x-www-form-urlencoded'>
			<input type='hidden' value='put' name='_method'/>
			<input type='hidden' id='storyId' name='storyId' value='<%=storyId%>'/>
			<input type='hidden' id='commentsStates' name='commentsStates' value=''/>
		</form>
	</div>
	</body>
	</html>
