<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<title>Raconter une histoire</title>
<link rel='stylesheet' type='text/css' href='/style.css' />
<script type='text/ecmascript'>
function click(aGroup) {
			    //var myGroup = document.getElementById('myGroup');
			    var myGroup = aGroup;
			    var translate = myGroup.getAttribute('transform');
			    if(translate == 'translate(200)') {
				    myGroup.setAttribute('transform','translate(0)');
			    }
			    else {
				    myGroup.setAttribute('transform','translate(200)');
			    }
		    }
		function switchTheme(theme) {
			if(theme.className == 'theme')
			{
				theme.className='theme selected';
			}
			else {
				theme.className='theme';
			}
		}

</script>
</head>

<body>
<% include connexion%>
<div class='structureElement'>
	<div class='structureName'>
		Connexion
	</div>
	<div class='connexion'>
		Isabelle
	</div>
</div>
<form method='POST' action='/stories/create' enctype='application/x-www-form-urlencoded' >
	<div class='story structureElement'>
		<div class='structureName'>Histoire</div>
		<div class='storyTitle structureElement'>
			<div class='structureName'>Titre</div>
			<input type='text' name='title' id='title' size='50'/>
		</div>
		<div class='storyFacts structureElement'>
			<div class='structureName'>Faits</div>
			<textarea name='facts' id='facts' rows='10'></textarea>
		</div>
		<div class='storyFeelings structureElement'><div class='structureName'>Ressenti</div>
			<textarea name='feelings' id='feelings' rows='10'></textarea>
		</div>
		<div class='storyProblem structureElement'><div class='structureName'>Probl&egrave;me</div>
			<textarea name='problem' id='problem' rows='10'></textarea>
		</div>
		<div id='themes' class='structureElement'>
			<div class='structureName'>
				Th&egrave;mes abord&eacute;s
			</div>

			<%
			var onclick ='onclick=switchTheme(this) style="cursor:pointer;"';
			%>
			<div class='theme' <%=onclick%>>Probl&egrave;me avec mon sup&eacute;rieur</div>
			<div class='theme' <%=onclick%>>Probl&egrave;me avec un coll&egrave;gue</div>
			<div class='theme' <%=onclick%>>Probl&egrave;me avec un subalterne</div>
			<div class='theme' <%=onclick%>>R&eacute;mun&eacute;ration</div>
			<div class='theme' <%=onclick%>>Cong&eacute;s</div>
			<div class='theme' <%=onclick%>>Amour / Sexe</div>
			<div class='theme' <%=onclick%>>Management</div>
			<div class='theme' <%=onclick%>>Nouveau poste</div>
			<div class='theme' <%=onclick%>>Licenciement / reclassement</div>
			<div class='theme' <%=onclick%>>Ambiance</div>
		</div>
	</div>
	<input type='submit' name='submit' id='submit'/>
</form>

</body>

</html>
