<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<title><%= title %></title>
<link rel='stylesheet' type='text/css' href='/style.css'/>
</head>

<body>
<% include connexion%>
<div class='structureElement'>
	<div class='structureName'>
		Accueil
	</div>
	<div id='intro'>Ce site a pour objectif de vous permettre de partager des probl&egrave;mes humains dans le cadre d'une activit&eacute; professionnelle et de b&eacute;n&eacute;ficier d'un soutien moral et de clefs de compr&eacute;hension.</div>
	<div id='actions'>
		<a href='/stories/search'>Rechercher une histoire</a>
		<a href='/stories/new'>Raconter une histoire</a>
		<%if(utilities.isModerator(connexion.user)) {%>
		<a href='/stories/moderate'>Mod&eacute;rer les histoires</a>
		<a href='/billets'>Gérer les billets</a>
		<%}%>
	</div>
</div>
<div class='structureElement'>
	<div class='structureName'>
		Billets
	</div>
	<div>
		<%
		for(var i = 0 ; i < billets.length ; i++) {
		%>
		<div class='storyTitle'>
			<%= billets[i].title%>
		<div class='storyDate' style='display:inline;'>, le  <%= utilities.formatDate(billets[i].creationDate)%></div>
		</div>
		<div><%- billets[i].text%></div>
		<%
		}
		%>
	</div>
</div>
<div class='structureElement'>
	<div class='structureName'>
		Histoires r&eacute;centes
	</div>
	<div>
		<%
		for(var i = 0 ; i < recentStories.length ; i++) {
		%>
		<div class='storyTitle'>
			<a href="/stories/consult/<%=recentStories[i].id%>"><%= recentStories[i].title%></a>
		</div>
		<div class='storyAuthor' style='display:inline;'>R&eacute;dig&eacute; par <%= recentStories[i].username%></div>
		<div class='storyDate' style='display:inline;'>&agrave; <%= utilities.formatDate(recentStories[i].creationDate)%></div>
		<%
		}
		%>
	</div>
</div>
</body>

</html>
