<!DOCTYPE html>
<html>

<head>
<title>Afficher la liste des histoires, des commentaires et des avis &agrave; mod&eacute;rer</title>
<link rel='stylesheet' type='text/css' href='/style.css'/>
<script src="/jquery-1.10.2.js"></script>
<script type='text/javascript'>
function consultStory(storyId) {
	$("#storyId").val(storyId);
	$("#consultStoryForm").submit();	
}
</script>
</head>

<body>
		<% include connexion%>
<div class='structureElement'>
	<div class='structureName'>
		Liste des histoires &agrave; valider
	</div>
	<div>
		<%
		var formatDate = function(aDate) {
			var result = aDate.getHours() + ':' + aDate.getMinutes() + ' le ' + aDate.getDate() + '/' + (aDate.getMonth() + 1) + '/' + aDate.getYear();
			return result;
		};
		for(var i = 0 ; i < storiesToValidate.length ; i++) {
		%>
		<div class='storyTitle'>
			<a href="/stories/consult/<%=storiesToValidate[i].id%>"><%= storiesToValidate[i].title%></a>
		</div>
		<div class='storyAuthor' style='display:inline;'>R&eacute;dig&eacute; par <%= storiesToValidate[i].author%></div>
		<div class='storyDate' style='display:inline;'>&agrave; <%= formatDate(storiesToValidate[i].creationDate)%></div>
		<%
		}
		%>
	</div>
</div>
<div class='structureElement'>
	<div class='structureName'>
		Liste des avis &agrave; valider
	</div>
	<div>
		<%
		for(var i = 0 ; i < storiesWithSpecialistsOpinionsToValidate.length ; i++) {
		%>
		<div class='storyTitle'>
			<a href="/stories/consult/<%=storiesWithSpecialistsOpinionsToValidate[i].id%>"><%= storiesWithSpecialistsOpinionsToValidate[i].title%></a>
		</div>
		<div class='storyAuthor' style='display:inline;'>R&eacute;dig&eacute; par <%= storiesWithSpecialistsOpinionsToValidate[i].author%></div>
		<div class='storyDate' style='display:inline;'>&agrave; <%= formatDate(storiesWithSpecialistsOpinionsToValidate[i].creationDate)%></div>
		<%
		}
		%>
	</div>
</div>
<div class='structureElement'>
	<div class='structureName'>
		Liste des commentaires &agrave; valider
	</div>
	<div>
		<%
		for(var i = 0 ; i < storiesWithCommentsToValidate.length ; i++) {
		%>
		<div class='storyTitle'>
			<a href="/stories/consult/<%=storiesWithCommentsToValidate[i].id%>"><%= storiesWithCommentsToValidate[i].title%></a>
		</div>
		<div class='storyAuthor' style='display:inline;'>R&eacute;dig&eacute; par <%= storiesWithCommentsToValidate[i].author%></div>
		<div class='storyDate' style='display:inline;'>&agrave; <%= formatDate(storiesWithCommentsToValidate[i].creationDate)%></div>
		<%
		}
		%>
	</div>
</div>
<form id='consultStoryForm' method='POST' action='/stories/consult' enctype='application/x-www-form-urlencoded'>
	<input type='hidden' id='storyId' name='storyId' />
</form>
</body>
</html>
