<!DOCTYPE html>
<html>

<head>
<title>Valider des histoires</title>
<link rel='stylesheet' type='text/css' href='/style.css'/>
<script src="/jquery-1.10.2.js"></script>
<script type='text/javascript'>
function consultStory(storyId) {
	$("#storyId").value(storyId);
	$("#consultStoryForm).submit();	
}
</script>
</head>

<body>
<div class='structureElement'>
	<div class='structureName'>
		Liste des histoires à valider
	</div>
	<div>
		Histoires r&eacute;cemment ajout&eacute;e :<br/>
		<%
		for(var i = 0 ; i < stories.length ; i++>)
		{
		%>
		<div class='storyTitle'>
			<a href="javascript:consulStory(<%=stories[i].id=>)"><%= stories[i].title%></a>
		</div>
		<div class='storyAuthor'><%= stories[i].author%></div>
		<div class='storyDate'><%= stories[i].creationDate%></div>
		<%
		}
		%>
	</div>
</div>
<form id='consultStoryForm' method='get' action='/stories/consult' enctype='application/x-www-form-urlencoded'>
	<input type='hidden' id='storyId' name='storyId' value='<%=storyId%>'/>
</form>
</body>
</html>
