<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Trouver une histoire</title>
<link rel='stylesheet' type='text/css' href='/style.css' />
<script type='application/ecmascript'>
			function showResults() {
				document.getElementById('searchForm').submit();
			}
</script>
<script type='text/ecmascript'>
function click(aGroup) {
			    //var myGroup = document.getElementById('myGroup');
			    var myGroup = aGroup;
			    var translate = myGroup.getAttribute('transform');
			    if(translate == 'translate(200)') {
				    myGroup.setAttribute('transform','translate(0)');
			    }
			    else {
				    myGroup.setAttribute('transform','translate(200)');
			    }
		    }
		function switchTheme(theme) {
			if(theme.className == 'theme')
			{
				theme.className='theme selected';
			}
			else {
				theme.className='theme';
			}
		}
</script>
</head>

<body>
<%include connexion%>
<div class='structureElement'>
	<div class='structureName'>
		Crit&egrave;res de recherche
	</div>
	<form id='searchForm' method='POST' action='/stories/search' enctype='application/x-www-form-urlencoded'>
		<div>Age :
			<select name='age' id='age'>
				<option></option>
				<option>18 - 25</option>
				<option>25 - 30</option>
				<option>30 - 35</option>
				<option>35 - 40</option>
				<option>40 - 45</option>
				<option>45 - 50</option>
				<option>50 - 55</option>
				<option>55 - 60</option>
				<option>60 - ...</option>
			</select>Genre :
			<select name='gender' id='gender'>
				<option></option>
				<option>M</option>
				<option>F</option>
			</select>Statut :
			<select name='hierarchyLevel' id='hierarchyLevel'>
				<option></option>
				<option>Cadre</option>
				<option>Non cadre</option>
			</select>Secteur :
			<select name='activity' id='activity'>
				<option></option>
				<option>Droit</option>
				<option>Banque</option>
				<option>Bâtiment</option>
			</select>
	<div id='themes' class='structureElement'>
		<div class='structureName'>
			Th&egrave;mes abord&eacute;s
		</div>

		<%
		var onclick ='onclick=switchTheme(this) style="cursor:pointer;"';
		%>
		<div class='theme' <%=onclick%>>Probl&egrave;me avec mon sup&eacute;rieur</div>
		<div class='theme' <%=onclick%>>Probl&egrave;me avec un coll&egrave;gue</div>
		<div class='theme' <%=onclick%>>Probl&egrave;me avec un subalterne</div>
		<div class='theme' <%=onclick%>>R&eacute;mun&eacute;ration</div>
		<div class='theme' <%=onclick%>>Cong&eacute;s</div>
		<div class='theme' <%=onclick%>>Amour / Sexe</div>
		<div class='theme' <%=onclick%>>Management</div>
		<div class='theme' <%=onclick%>>Nouveau poste</div>
		<div class='theme' <%=onclick%>>Licenciement / reclassement</div>
		<div class='theme' <%=onclick%>>Ambiance</div>
	</div>
		</div>Mot clef :
		<input type='text' name='keywords' id='keywords'/>
	</div>
</form>
<button onclick='showResults()'>Envoyer</button>
		</div>
		<%if(stories && stories.length > 0) {%>
		<div class='structureElement' id='results'>
<div class='structureName'>
	R&eacute;sultats
</div>
<div>
	<div class='story'>
		<%
		var formatDate = function(aDate) {
		var result = aDate.getHours() + ':' + aDate.getMinutes() + ' le ' + aDate.getDate() + '/' + (aDate.getMonth() + 1) + '/' + aDate.getYear();
		return result;
		};
		for(var i = 0 ; i < stories.length ; i++) {
		%>
		<div class='storyTitle'>
			<a href="/stories/consult/<%=stories[i].id%>"><%= stories[i].title%></a>
		</div>
		<div class='storyAuthor' style='display:inline;'>R&eacute;dig&eacute; par <%= stories[i].username%></div>
		<div class='storyDate' style='display:inline;'>&agrave; <%= formatDate(stories[i].creationDate)%></div>
		<%
		}
		%>

	</div>
</div>
<%}%>

</body>

</html>
